.box{
    max-height: 100px;
    border: 1px solid black;
    overflow: auto;
}

.mydiv{
    margin:10px;
    min-height: 100px;
    border:1px solid black;
    overflow: visible;
}

#divi{
    height: 50px;
    border:1px solid black;
    overflow: hidden;
}